body {
  font-family: Arial, sans-serif;
  background: #ffffff;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

form {
  background: #ffffff;
  padding: 25px;
  border-radius: 12px;
  width: 320px;
  box-shadow: 0 4px 20px rgba(0, 150, 136, 0.15);
  border: 1px solid #e0f2f1;
}

input,
textarea {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  border: 1px solid #b2dfdb;
  border-radius: 8px;
  font-size: 14px;
  outline: none;
  transition: 0.3s;
}

input:focus,
textarea:focus {
  border-color: #00bfa5;
  box-shadow: 0 0 5px rgba(0, 191, 165, 0.3);
}

textarea {
  resize: none;
  height: 100px;
}

button {
  width: 100%;
  margin-top: 15px;
  padding: 12px;
  background: #00bfa5;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 15px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #009e8e;
}